
body {
  font-family: monospace;
  font-size: 120%;
  margin-left: 20px;
}

table {
  margin-top: 20px;
  margin-left: min(10vw, 100px);
  background-color: black;
  padding: 10px;
  table-layout: fixed;
  width: max(80vw, 500px);
  border-collapse: collapse;
  border: 1px solid #111 !important;
}

table th {
  background-color: #025 !important;
}

table tr td {
  border: 1px solid green;
  padding: 5px;
}
